:root {
  --text-color: #4B4E68;
  --text-color-second: #84849A;
  --background-color: --very_light_grey;
  --black: #000000;
  --white: #FFFFFF;
  --very_light_grey: #C9C9C9;
  --border_color_light: #D7D7DC;

  --midnight-express: #000034;
  --black-russian: #050824;

  --light-slate-blue: #7782F1;
  --han-purple: #5A31F4;

  --cream-can : #F6C657;

  --radical-red: #F53D6B;

  --ghost-white: #F5F6FE;
  --solitude: #E0E7F0;
  --quartz: #D6D8EE;
  --quartz-second: #DADDF5;
}
